*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
../.project
.project

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore all mac metadata files and emacs autosaves
auto-save-list
custom.el
url/
.org-id-locations
\#*
org-mode-config.el
*~
.#*
\#*\#
*.log
.DS_Store
org-clock-save.el
emacs-config.el

# Ignore rvm
.rvmrc
.project
nbproject/
.idea
.idea/*
